main{
    position:absolute;
    top: 25%;
    left: 20%;
    min-width: 35%;
    max-width: 65%;
    height: 35%;
    background-color: black;
    border-radius: 20px;
}
main:hover{
  border: 2px solid white;
}
.heading{
    text-align: center;
    margin: 10px;
}

.container{
    padding: 10px;
    margin: 10px;
    background-color: #00000073;
    border-radius: 17px;
}

.content{
  /* background-color: powderblue; */
  text-align: center;
    margin: 10px;
  
}

.getStarted{
    text-align: center;
    padding: 10px;
    margin: 10px;  
}

.button {
  background-color: #a270ff;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.button:hover{
  background-color:#a270ff;
  opacity: 0.7;
  color: white;
}

.button:active{
  background-color:#70ff70;
  opacity: 0.7;
  color: white;
}

